body {
    margin: 0;
}

/* #region Overlay */

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
  
#center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

#game-id-text {
    font-size: 60px;
}

/* #endregion */

#header {
    height: 40px;
}

#flags-container {
    display: inline-block;
}

#timer-container {
    float: right;
}

#footer {
    text-align: center;
    margin-top: 20px;
}

/* #region Container */

#left-container {
    width: 50%;
    float: left;
    margin-right: -481px; /* minus half of the center container width */
    margin-left: auto;
}
#left-container-content {
    margin-right: 481px; /* half of the center container width */
}
#center-container {
    width: 962px; /* size of the fixed width */
    float: left;
}
#right-container {
    width: 50%;
    float: right;
    margin-left: -481px; /* minus half of the center container width */
}
#right-container-content {
    margin-left: 481px; /* half of the center container width */
}

#container:after {
    content: "";
    display: table;
    clear: both;
}

/* #endregion */

/* #region Canvas */

#game-canvas {
    width: 962px;
    height: 514px;
    position: absolute;
    z-index: 0;
}
#mouse-canvas {
    width: 962px;
    height: 514px;
    position: absolute;
    z-index: 1;
}

/* #endregion */

.github-logo {
    height: 16px;
    margin-left: 4px;
    vertical-align: middle;
    padding-bottom: 3px;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}